fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

# file parsing
pypdf2==3.0.1

#LLM
groq==0.9.0
httpx==0.26.0

#reranking
sentence-transformers==3.0.1

#VectorDB
qdrant-client==1.9.1

#SQL
sqlalchemy==2.0.30
alembic==1.13.1
asyncpg==0.29.0
psycopg2-binary==2.9.9

# Redis
redis==5.0.4

# Date parsing
dateparser==1.2.0


# Settings
pydantic-settings==2.2.1
python-dotenv==1.0.1


# Logging
structlog==24.1.0